replicaCount: 1

image:
  repository: ghcr.io/ldest/mfti-course/api
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx-ingress"
  annotations: {}
  hosts:
    - host: api.student12.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}

database:
  host: "192.168.1.76"
  port: 5000
  name: "api_db"
  user: "api_user"
  password: ""  # Set via --set

initContainers:
  migration:
    enabled: true
    image:
      repository: postgres
      tag: "16-alpine"
