global
    maxconn {{ haproxy_maxconn.global }}
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    mode               tcp
    log                global
    option             tcplog
    retries            2
    timeout queue      5s
    timeout connect    5s
    timeout client     {{ haproxy_timeout.client }}
    timeout server     {{ haproxy_timeout.server }}
    timeout check      15s

listen stats
    mode http
    bind {{ bind_address }}:{{ haproxy_listen_port.stats }}
    stats enable
    stats uri /

listen master
    bind {{ bind_address }}:{{ haproxy_listen_port.master }}
    maxconn {{ haproxy_maxconn.master }}
    option httpchk OPTIONS /primary
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
{% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['bind_address'] }}:{{ postgresql_port }} check port {{ patroni_restapi_port }}
{% endfor %}

listen replicas
    bind {{ bind_address }}:{{ haproxy_listen_port.replicas }}
    maxconn {{ haproxy_maxconn.replica }}
    option httpchk OPTIONS /replica?lag={{ patroni_maximum_lag_on_replica }}
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['bind_address'] }}:{{ postgresql_port }} check port {{ patroni_restapi_port }}
{% endfor %}

